@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bodyPadding: 1.2rem;
  --color1: #ec4c8b;
  --color2: #fe5395;
  --color3: #cf4278;

  --color4: #00790a;
  --color5: #009e0d;
  --color6: #005b09;
 
  @media (max-width: 768px) {
    --bodyPadding: 0.2rem; 
    
  }
  
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Rotobo, Raleway, fantasy;
  box-sizing: border-box;
}

body {
  font-size: 16.5px;
  /* font-family: Rotobo, Raleway, fantasy; */
  padding: 0;
  background: lavender;
  /* background: linear-gradient(to right, rgba(255,255,255, 0), white , rgba(255,255,255, 0)); */
  overflow: auto;
  min-width: 100%;
  min-height: 100vh;
}

.color-1 { background-color: var(--color1);}
.color-2 { background-color: var(--color2);}
.color-3 { background-color: var(--color3);}
.color-4 { background-color: var(--color4);}
.color-5 { background-color: var(--color5);}
.color-6 { background-color: var(--color6);}

.b-1 {border: 1px solid; }